/* GENERAL RULES */
body{
    background-color: white;
    font-family: 'Inter-Medium','Helvetica','san-serif';
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 75%;
    margin: auto;
}
/* /GENERAL RULES */

.nav{
    padding-top: 10px;
    margin-bottom: 10px;
}

.col_lg_4{
    display: flex;
    align-items: center;
}
.col_lg_4 span{
    color: rgba(42, 137, 253, 1);
    font-size: 20px;
    margin-left: 4px;
}
.col_lg_4 img{
    height: 35px;
}

.left_nav{
    width: 25%;
}

.center_nav{
    width: 45%;
}

.right_nav{
    justify-content: flex-end;
    width: 30%;
}

.menu{
    display: none;
}

.blue_text{
    color: rgba(31, 53, 96, 1);
    font-size: 15px;
    font-weight: 600;
}

ul{
    list-style: none;
    display: flex;
}
ul>li{
    margin: 10px;
}
ul>li>a{
    color: rgba(75, 150, 255, 1);
    text-decoration: none;
    border: 1px solid rgba(75, 150, 255, 1);
    padding: 8px 12px 8px 12px;
    border-radius: 3px;
}
.fa-chevron-down:before {
    padding: 5px;
}

/* BANNER */
.header_banner{
    width: 100%;
    background-image: url('../img/bg-banner-home.jpg');
    background-size: cover;
    background-position: center ;
    padding-bottom: 70px;
}

.left_banner{
    width: 50%;
    margin-right: 4%;
}

.right_banner{
    width: 45%;
}

/* LEFT BANNER */
.title{
    margin-top: 75px;
}
.title h1{
    color: white;
    font-size: 55px;
    margin-bottom: 15px;
}
.title p{
    color: rgba(181, 199, 253, 1);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
/* /LEFT BANNER */

/* RIGHT BANNER */
.form{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-top: 50px;
    padding-top: 45px;
}

.form h2{
    text-align: center;
    color: rgba(3, 28, 78, 1);
    font-size: 30px;
}

.form h2:last-child{
    color: rgba(0, 106, 255, 1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.form span{
    width: 90%;
    margin: auto;
    display: block;
    padding: 8px 5px;
    margin-bottom: 10px;
    border: 2px solid rgba(244, 244, 244, 1);
    border-radius: 5px;
    color: rgba(131, 131, 131, 1);
    font-weight: 500;
}

.button_blue a{
    text-decoration: none;
    color: black;
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 8px;
    padding: 12px 5px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(87, 154, 255, 1);
    color: white;
}

.button_white{
    color: black;
    width: 90%;
    margin: auto;
    margin-bottom: 8px;
    padding: 6px 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(235, 235, 235, 1);
    text-align: center;
}

.button_white a{
    text-decoration: none;
    color: rgba(119, 119, 119, 1);
    font-weight: 600;
    line-height: 25px;
}

.button_white_left{
    width: 10%;
    height: 100%;
    float: left;
}

.button_white_right{
    width: 80%;
    height: 100%;
    float: left;
}

.form p{
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: 14px;
    color: rgba(67, 85, 122, 1);
    font-weight: 600;
    margin-top: 10px;
    padding-bottom: 25px;
}

.form img{
    height: 23px;
    text-align: left;
}

.form p a{
    color: rgba(21, 120, 255, 1);
}
/* RIGHT BANNER */

/* HEADER TABLET VERSION */
@media screen and (min-width:768px) 
and (max-width: 991px){

    .menu{
        display: block;
    }

    .center_nav, .right_nav{
        display: none;
    }

    .col_lg_6 h1{
        font-size: 32px;
    }
}
/* /HEADER TABLET VERSION */

/* HEADER SMARTPHONE VERSION */
@media screen and (max-width:767px){
    .menu{
        display: block; /* da sistemare */
    }

    .center_nav, .right_nav{
        display: none;
    }
    .title h1{
        font-size: 40px;
    }

    .title p{
        font-size: 24px;
    }
    .left_banner{
        width: 100%;
    }
    .right_banner{
        width: 100%;
    }

    .form{
        margin-top: 15px;
    }

}
/* /HEADER SMARTPHONE VERSION */
/* /HEADER */


/* MAIN */
.block_logos{
    width: 100%;
    height: 200px;
    background-color: rgba(243, 245, 249, 1);
    text-align: center;
    line-height: 50px;
}

.logos_title{
    width: 100%;
    text-transform: uppercase;
    color: rgba(125, 136, 161, 1);
    margin-top: 25px;
}

.logos{
    width: 100%;
    height: 90px;
}

.logos img{
    height: 80px;
}

.logos_link{
    width: 100%;
}

.logos_link a{
    text-decoration: none;
    color: rgba(58, 137, 253, 1);
    padding-bottom: 20px;
}
