/* GENERAL RULES */
body{
    background-color: white;
    font-family: 'Inter-Medium','Helvetica','san-serif';
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 75%;
    margin: auto;
}
/* /GENERAL RULES */

.nav{
    padding-top: 10px;
    margin-bottom: 5px;
}

.left_nav span{
    color: rgba(42, 137, 253, 1);
    font-size: 20px;
    margin-left: 4px;
}
.left_nav img{
    height: 30px;
}

.left_nav{
    width: 25%;
    display: flex;
    align-items: center;
}

.center_nav{
    width: 45%;
}

.right_nav{
    justify-content: flex-end;
    width: 30%;
}

.menu{
    display: none;
}

.blue_text{
    color: rgba(31, 53, 96, 1);
    font-size: 15px;
    font-weight: 600;
}

ul{
    list-style: none;
    display: flex;
}
ul>li{
    margin: 10px;
}
ul>li>a{
    color: rgba(75, 150, 255, 1);
    text-decoration: none;
    border: 1px solid rgba(75, 150, 255, 1);
    padding: 8px 12px 8px 12px;
    border-radius: 3px;
}
.fa-chevron-down:before {
    padding: 5px;
}

/* BANNER */
.header_banner{
    width: 100%;
    background-image: url('../img/bg-banner-home.jpg');
    background-size: cover;
    background-position: center ;
    padding-bottom: 70px;
}

.left_banner{
    width: 50%;
    margin-right: 4%;
}

.right_banner{
    width: 45%;
}

/* LEFT BANNER */
.title{
    margin-top: 75px;
}
.title h1{
    color: white;
    font-size: 55px;
    margin-bottom: 15px;
}
.title p{
    color: rgba(181, 199, 253, 1);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
/* /LEFT BANNER */

/* RIGHT BANNER */
.form{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-top: 50px;
    padding-top: 45px;
}

.form h2{
    text-align: center;
    color: rgba(3, 28, 78, 1);
    font-size: 30px;
}

.form h2:last-child{
    color: rgba(0, 106, 255, 1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.form span{
    width: 90%;
    margin: auto;
    display: block;
    padding: 8px 5px;
    margin-bottom: 10px;
    border: 2px solid rgba(244, 244, 244, 1);
    border-radius: 5px;
    color: rgba(131, 131, 131, 1);
    font-weight: 500;
}

.button_blue a{
    text-decoration: none;
    color: black;
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 8px;
    padding: 12px 5px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(87, 154, 255, 1);
    color: white;
}

.button_white{
    color: black;
    width: 90%;
    margin: auto;
    margin-bottom: 8px;
    padding: 6px 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(235, 235, 235, 1);
    text-align: center;
}

.button_white a{
    text-decoration: none;
    color: rgba(119, 119, 119, 1);
    font-weight: 600;
    line-height: 25px;
}

.button_white_left{
    width: 10%;
    height: 100%;
    float: left;
}

.button_white_right{
    width: 80%;
    height: 100%;
    float: left;
}

.form p{
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: 14px;
    color: rgba(67, 85, 122, 1);
    font-weight: 600;
    margin-top: 10px;
    padding-bottom: 25px;
}

.form img{
    height: 23px;
    text-align: left;
}

.form p a{
    color: rgba(21, 120, 255, 1);
}
/* RIGHT BANNER */

/* HEADER TABLET VERSION */
@media screen and (min-width:768px) 
and (max-width: 991px){

    .menu{
        display: block;
    }

    .center_nav, .right_nav{
        display: none;
    }

    .col_lg_6 h1{
        font-size: 32px;
    }
}
/* /HEADER TABLET VERSION */

/* HEADER SMARTPHONE VERSION */
@media screen and (max-width:767px){
    .menu{
        display: block; /* da sistemare */
    }

    .center_nav, .right_nav{
        display: none;
    }
    .title h1{
        font-size: 40px;
    }

    .title p{
        font-size: 24px;
    }
    .left_banner{
        width: 100%;
    }
    .right_banner{
        width: 100%;
    }

    .form{
        margin-top: 15px;
    }

}
/* /HEADER SMARTPHONE VERSION */
/* /HEADER */


/* MAIN */
/* LOGHI */
.block_logos{
    width: 100%;
    background-color: rgba(243, 245, 249, 1);
    text-align: center;
    line-height: 50px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.logos_title{
    width: 100%;
    text-transform: uppercase;
    color: rgba(125, 136, 161, 1);
    padding-top: 25px;
}

.logos{
    width: 100%;
}

.logos img{
    height: 80px;  
}

.logos_link{
    width: 100%;
}

.logos_link a{
    text-decoration: none;
    color: rgba(58, 137, 253, 1);
    padding-bottom: 20px;
    font-weight: 600;
}
/* /LOGHI */

/* TRE COLONNE */
.title_three_columns{
    text-align: center;
    margin-bottom: 60px;
}
.title_three_columns h2{
    color: rgba(3, 28, 78, 1);
    margin-bottom: 10px;
    font-size: 32px;
}

.title_three_columns p{
    color: rgba(92, 106, 136, 1);
    font-size: 23px;
}

.three_columns{
    height: 570px;/* Chiedere e rimuovere questo */
}

.three_columns .col_lg_4 ul{
    display: block;
    border-left: 2px solid rgba(210, 210, 210, 1);
    margin-left: 100px;
}

.three_columns .col_lg_4 ul li{
    color: rgba(119, 130, 155, 1);
    line-height: 30px;
}

.three_columns .col_lg_4 img{
    margin-bottom: 10px;
}

.three_columns .col_lg_4 h5{
    margin-bottom: 7px;
    color: rgba(49, 68, 108, 1);
    font-size: 21px;
}

.three_columns .col_lg_4 p{
    width: 90%;
    margin-bottom: 25px;
    color: rgba(95, 109, 138, 1);
    font-size: 18px;
}

.right_bottom{
    margin-top: 47px;
}

/* /TRE COLONNE */

/* SLIDER */
.slider{
    width: 100%;
    background-color: rgba(243, 245, 249, 1);
    padding-top: 60px;
    padding-bottom: 80px;
}

.title_slider{
    text-align: center;
    margin-bottom: 60px;
}
.title_slider h2{
    color: rgba(3, 28, 78, 1);
    margin-bottom: 10px;
    font-size: 32px;
}

.title_slider p{
    color: rgba(92, 106, 136, 1);
    font-size: 23px;
}

.prev{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-size: 45px;
    color: rgba(111, 123, 151, 1);
}

.next{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    font-size: 45px;
    color: rgba(3, 28, 78, 1);
}

.img_slider{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.img_slider img{
    height: 345px;
    margin-top: 10px;
}

.slider h3{
    text-align: center;
    color: rgba(31, 52, 96, 1);
    margin-bottom: 10px;
}

.pallini{
    display: flex;
    justify-content: center;
}
.pallini div{
    height: 15px;
    width: 15px;
    background-color: white;
    border: 1px solid rgba(0, 106, 255, 1);
    border-radius: 50%;
    margin-left: 5px;
}

.pallini div:first-child{
    background-color: rgba(0, 106, 255, 1);
}
/* /SLIDER */

/* FEATURES */
.features{
    width: 100%;
    height: 300px; /* da togliere */
}

.features h1{
    text-align: center;
    color: rgba(3, 28, 78, 1);
    margin-bottom: 30px;
    margin-top: 60px;
}

.features img{
    margin-bottom: 15px;
}

.features h4{
    color: rgba(3, 28, 78, 1);
    margin-bottom: 10px;
}

.features p{
    width: 90%;
    color: rgba(106, 119, 146, 1);
    margin-bottom: 10px;
}

.features a{
    text-decoration: none;
    color: rgba(9, 111, 255, 1);
}
/* /FEATURES */

/* 12 REGIONS */
.regions{
    height: 500px;
    width: 100%;
    background: linear-gradient(180deg, #0045C3 0%, #00219D 100%);
}

.regions h2{
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 60px;
    margin-bottom: 20px;
}

.travel{
    width: 90%;
    margin-bottom: 3px;
    padding: 10px;
    border-bottom: 2px solid rgba(157, 172, 220, 1);
    display: flex;
}

.travel .codice{
    color: white;
}

.travel .city{
    color: rgba(130, 148, 207, 1);
}

.travel .speed a{
    text-decoration: none;
    color: rgba(0, 203, 206, 1);
}